Source: pdfsizeopt
Priority: optional
Section: text
Maintainer: Rogério Brito <rbrito@gmail.com>
Homepage: https://github.com/pts/pdfsizeopt
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python-all
Standards-Version: 4.5.1
Vcs-Browser: https://github.com/rbrito/pkg-pdfsizeopt
Vcs-Git: https://github.com/rbrito/pkg-pdfsizeopt.git
Rules-Requires-Root: no

Package: pdfsizeopt
Architecture: all
Depends:
 ghostscript,
 jbig2enc,
 netpbm | png22pnm,
 sam2p (>= 0.49),
 ${misc:Depends},
 ${python:Depends}
Recommends:
 qpdf,
 zopfli
Suggests:
 multivalent,
 pingo,
 pngout
Description: size optimizer for PDF files
 pdfsizeopt is a program for converting large PDF files to small ones. More
 specifically, pdfsizeopt is a command-line application and a collection of
 best practices to optimize the size of PDF files, with focus on PDFs
 created from TeX and LaTeX documents.
